.list {
  margin-top: 20px;
  padding-left: 10px;
  color: blue;
  width: 190px;
}
.border {
  display: flex;
  margin: 0 auto;
  width: 550px;
  background-color: rgb(216, 218, 61);
  border: 1px dotted grey;
}
.title {
  font-weight: bolder;
  font-size: 25px;
  color: purple;

  vertical-align: top;
}

.t1 {
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 40px;
  margin-bottom: 250px;
  color: purple;
}

.list > ul {
  list-style-type: none;
  padding-left: 15px;
  position: absolute;
}
.list > ul > li {
  padding: 3px 10px 3px 3px;
  border-right: 20px solid black;
  margin-bottom: 10px;
  background-color: white;
  font-size: 10px;
}
.intro {
  border-bottom: 1px dotted purple;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.t1 > .title {
  padding-bottom: 20px;
}
.intro > div {
  padding-bottom: 20px;
}
